<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>how this api works</h1>
        <h3>to shorten your url:
            <div>send post request to the api and shortened version of your url will be returned</div>
            <div>example:</div>
            <div>const shortenedURL = axios.post(https://url-shorteneru.herokuapp.com/shortify, {url:"your URL"})</div>
            <div>replace>>your URL<< with some url. Don't remove quotes. After that, you can use shortened url however you want</div>
            <div>Thanks for using my api 😃</div>
        </h3>
    </div>
</body>
</html>